<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="aanimals" class="com.fc.ioc_2.Animals">
        <property name="name" value="小黄"/>
        <property name="move" value="walk"/>
    </bean>
    <bean id="dogs" class="com.fc.ioc_2.Dogs" autowire="constructor">
        <property name="colour" value="red"/>
    </bean>
</beans>